@{
    ViewData["Title"] = "Inicio";
}

<div class="px-4 py-5 my-5 text-center"> 
    <i class="bi bi-shop display-5 me-2"></i>
    <h1 class="display-5 fw-bold text-body-emphasis">VendingNEA</h1> 
    <div class="col-lg-6 mx-auto"> 
        <p class="lead mb-4">
            Gestioná y administrá la red de máquinas expendedoras desde un solo lugar.
            Panel centralizado que permite controlar productos, proveedores, ventas, acuerdos comerciales y mantenimiento en tiempo real. 
        </p>
    </div>
</div> 
