@model VendingNEA_0.Models.CondicionComision

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CondicionComision</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCondicionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCondicionNavigation.CodCondicion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodCondicion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
